@font-face {
    font-family: 'Linden Hill';
    src: url("fonts/LindenHill-webfont.eot");
    src: url("fonts/LindenHill-webfont.woff") format("woff"), 
         url("fonts/LindenHill-webfont.ttf") format("truetype"),
         url("fonts/LindenHill-webfont.svg") format("svg");
    font-style: normal;
}
@font-face {
    font-family: 'Linden Hill';
    src: url("fonts/LindenHill-Italic-webfont.eot");
    src: url("fonts/LindenHill-Italic-webfont.woff") format("woff"), 
         url("fonts/LindenHill-Italic-webfont.ttf") format("truetype"),
         url("fonts/LindenHill-Italic-webfont.svg") format("svg");
    font-style: italic;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url("fonts/GoudyStM-webfont.eot");
    src: url("fonts/GoudyStM-webfont.woff") format("woff"), 
         url("fonts/GoudyStM-webfont.ttf") format("truetype"),
         url("fonts/GoudyStM-webfont.svg") format("svg");
    font-style: normal;
}
@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url("fonts/GoudyStM-Italic-webfont.eot");
    src: url("fonts/GoudyStM-Italic-webfont.woff") format("woff"), 
         url("fonts/GoudyStM-Italic-webfont.ttf") format("truetype"),
         url("fonts/GoudyStM-Italic-webfont.svg") format("svg");
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    background: #ffffff;
    font-family: 'Sorts Mill Goudy', serif, monospace;
    font-weight: normal;
    font-size: 16px;
}

body {
    position: relative;
}

.global-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.title-box {
    margin: 0.2em 0.5em;
    max-width: 100vw;
    text-align: center;
    
    font-family: 'Linden Hill', serif, monospace;
    font-size: 5em;
    color: #333333;

    max-width: 100%;
}

.links-bottom {
    position: absolute;
    bottom: 8px;
    right: 12px;
    max-width: 70%;
    text-align: center;
}
.links-bottom a {
    font-size: 1.2em;
    color: #999999;
    font-style: italic; 
    margin: 0 8px;
}
.links-bottom a:hover {
    color: #000000;
    cursor: pointer;
}

.button {
    padding: 0.5em 1em;
    outline-style: solid;
    outline-color: #999999;
    outline-width: 2px;

    font-family: monospace;
    font-size: 1.2em;
    color: #000000;
    text-transform: uppercase;

    transition: 75ms background ease-out;
}
.button:hover {
    outline-color: #000000;
    background: #000000;
    color: #ffffff;
}

.button:active {
    outline-color: #ffffff;

}

.spacer {
    height: 16px;
}
.spacer-top-bottom {
    height: 64px;
}

.textblock {
    font-size: 1.2em;
    line-height: 1.4em;
    width: 70%;
    max-width: 70ch;
    margin: 1em;
}
.text-center {
    text-align: center;
}

.answer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50ch;
    max-width: 80%;
}
.answer-form input[type="text"] {
    display:block;
    width: 100%;
    margin-right: 10px;
    padding: 0.5em;
    border: solid #999999 1px;
    font-size: 1.2em;
    font-family: monospace;
}
.answer-form input[type=text]:focus {
    border: solid #000000 1px;
}
.answer-form input[type=text].retry {
    border: solid #dd1122 1px;
    box-shadow: 0 0 4px 0 #aa0022;
}

@media screen and (max-width:350px) {
    .title-box {
        font-size: 2.5em !important;
    }
}

@media screen and (max-width:600px) {
    .title-box {
        font-size: 4em;
    }
    .answer-form {
        flex-direction: column;
    }
    .answer-form * {
        margin: 5px;
    }
    .links-bottom {
        position: relative;
        bottom: 16px;
        right: auto;
    }
    .links-bottom a {
        font-size: 1em;
    }
}
