@font-face {
    font-family: 'Linden Hill';
    src: url("fonts/LindenHill-webfont.eot");
    src: url("fonts/LindenHill-webfont.woff") format("woff"), 
         url("fonts/LindenHill-webfont.ttf") format("truetype"),
         url("fonts/LindenHill-webfont.svg") format("svg");
    font-style: normal;
}
@font-face {
    font-family: 'Linden Hill';
    src: url("fonts/LindenHill-Italic-webfont.eot");
    src: url("fonts/LindenHill-Italic-webfont.woff") format("woff"), 
         url("fonts/LindenHill-Italic-webfont.ttf") format("truetype"),
         url("fonts/LindenHill-Italic-webfont.svg") format("svg");
    font-style: italic;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url("fonts/GoudyStM-webfont.eot");
    src: url("fonts/GoudyStM-webfont.woff") format("woff"), 
         url("fonts/GoudyStM-webfont.ttf") format("truetype"),
         url("fonts/GoudyStM-webfont.svg") format("svg");
    font-style: normal;
}
@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url("fonts/GoudyStM-Italic-webfont.eot");
    src: url("fonts/GoudyStM-Italic-webfont.woff") format("woff"), 
         url("fonts/GoudyStM-Italic-webfont.ttf") format("truetype"),
         url("fonts/GoudyStM-Italic-webfont.svg") format("svg");
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    background: #ffffff;
    font-family: 'Sorts Mill Goudy', serif, monospace;
    font-weight: normal;
    font-size: 16px;
}

body {
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
                url(./img/parchment.jpg);
    background-repeat: repeat;
}

.global-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.title-box {
    margin: 0.1em 0.5em;
    max-width: 100vw;
    text-align: center;
    
    font-family: 'Linden Hill', serif, monospace;
    font-size: 5em;
    color: #333333;

    max-width: 100%;
}
.identity-box {
    margin: 0em 0.5em 1em 0.5em;
    max-width: 100vw;
    text-align: center;
    
    font-family: 'Linden Hill', serif, monospace;
    font-size: 2em;
    color: #555555;

    max-width: 100%;
}
.border-art img {
    max-width: 40%;
    pointer-events: none;
}

.menu-links {
    position: absolute;
    top: 1.5em;
    right: 2em;
    max-width: 70%;
    text-align: center;
}
.menu-links a {
    font-size: 1.2em;
    color: #777777;
    font-style: italic; 
    margin: 0 8px;
}
.menu-links a:hover {
    color: #000000;
    cursor: pointer;
}
.menu-links a.current {
    color: #222222;
    position: relative;
    pointer-events: none;
}
.menu-links a.current:after {
    position: absolute;
    content: "";
    left: 4px;
    right: 4px;
    bottom: -2px;
    height: 2px;
    background: #cccccc;
}

.button {
    padding: 0.5em 1em;
    outline-style: solid;
    outline-color: #999999;
    outline-width: 2px;

    font-family: monospace;
    font-size: 1.2em;
    background: #ffffff;
    color: #000000;
    text-transform: uppercase;

    transition: 75ms background ease-out;
}
.button:hover {
    outline-color: #1a1a1a;
    background: #1a1a1a;
    color: #ffffff;
}
.button:active {
    outline-color: #ffffff;
}

.button.disabled {
    background: #999999 !important;
    color: #ffffff !important;
    outline-color: #999999 !important;
    pointer-events: none;
}

.button-box {
    padding: 1em;
    margin: 1em 0;
}
#registerButton {
    margin-right: 1em;
}

.spacer {
    height: 16px;
}
.spacer-top-bottom {
    height: 64px;
}

.textblock {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #222222;
    width: 70%;
    max-width: 70ch;
    margin: 0.5em 1em;
}
.text-center {
    text-align: center;
}

.textblock a {
    text-decoration: underline;
}
.textblock.riddle {
    width: 60%;
    margin-left: 5em;
}

.answer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50ch;
    max-width: 80%;
}
.answer-form input[type="text"] {
    display:block;
    width: 100%;
    margin-right: 10px;
    padding: 0.5em;
    border: solid #999999 1px;
    font-size: 1.2em;
    font-family: monospace;
}
.answer-form input[type=text]:focus {
    border: solid #000000 1px;
}
.answer-form input[type=text].retry {
    animation: 150ms shake ease;
}
.answer-form #submitButton.retry {
    animation: 150ms shake ease, 250ms glow ease;
}

@keyframes shake {
    0% {
        border: solid #dd1122 1px;
        box-shadow: 0 0 4px 0 #aa0022;
    }
    25% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(2px);
    }
    90% {
        border: solid #dd1122 1px;
    }
}

@keyframes glow {
    0% {
        background-color: #000000;
    }
    45% {
        background-color: #dd1122;
    }
}

.block-image {
    text-align: center;
    margin: 1em 0;
}
.block-image img {
    max-width: 80%;
    margin: auto;
}

.katex {
    font-size: 1em !important;
}

@media screen and (max-width:350px) {
    .title-box {
        font-size: 2.5em !important;
    }
}

@media screen and (max-width:600px) {
    .title-box {
        font-size: 4em;
    }
    .identity-box {
        font-size: 1.5em;
        max-width: 80%;
    }
    .answer-form {
        flex-direction: column;
    }
    .answer-form * {
        margin: 5px;
    }
    .menu-links {
        position: relative;
        right: auto;
    }
    .menu-links a {
        font-size: 1em;
    }
}
